.box {
  margin: 5px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-style: solid;
  border-radius: 5px;
  border-color: grey;
}
.box > * {
  margin: 20px;
}
.inputBox {
  display: flex;
  flex-direction: column;
}
.inputBox * {
  margin-bottom: 20px;
}
